
#buildings_container {
  position: relative;
}
.building_img {
  position: absolute;
  z-index: 100;
}
#building_0img {
  left: 200px;
  top: 98px;
}
#building_1img {
  left: 515px;
  top: 64px;
}
#building_2img {
  left: 350px;
  top: 240px;
}
#building_3img {
  left: 355px;
  top: 340px;
}
#building_4img {
  left: 325px;
  top: 40px;
}
#building_info_div1 {
  display: none;
  position: absolute;
  bottom: 10px;
  left: 10px;
  height: 410px;
  width: 200px;
  background-color: white;
  opacity: 0.15;
  filter: alpha(opacity=15);
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
#building_info_div2 {
  display: none;
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 410px;
  width: 390px;
  z-index: 150;
  background-color: #202020;
  border-radius: 10px;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}
#building_title_div {
  background-color: #3670ab;
  color: white;
  padding: 7px 5px;
  font-size: 16px;
  border-top-left-radius: 6px;
  border-top-right-radius: 6px;
  -moz-border-radius: 6px;
  -webkit-border-top-left-radius: 6px;
  -webkit-border-top-right-radius: 6px;
}
#unselect_bldg_btn {
  display: none;
  position: absolute;
  top: 25px;
  right: 425px;
}
#building_info_text_div {
  padding: 10px 20px;
  text-align: left;
}