body {
	font-family: "courier, Arial", "Helvetica", "Times New Roman";
	color: #3d8fe3;
	text-align: center;
	margin: 10px 0px 10px 0px;
	background-color: black;
}
table {
	border: 1px solid #3d8fe3;
	border-spacing: 0px;
}
table#map_2d td {
	padding: 0px;
	width: 60px;
	height: 60px;
}
td {
	text-align: center;
	border: 1px solid #3d8fe3;
	padding-top: 7px;
	padding-bottom: 7px;
	padding-right: 7px;
	padding-left: 7px;
}
a {
	color: #3d8fe3;
}
a active {
	color: white;
}
h3 {
	margin: 5px;
}
ul {
	margin-top: 0px;
}
ol {
	margin-top: 0px;
}
.error_border {
	border: 1px solid #dd4b39;
}
.error_text {
	color: #dd4b39;
}
#main_game_UI_div {
	width: 1000px;
	height: 650px;
	background-color: #151515;
	background-image: url('images/main-game-ui-bg.png');
	margin-left: auto;
	margin-right: auto;
	position: relative;
}
	
#game_secondary_screen {
	position: absolute;
	left: 190px;
	top: 45px;
	width: 620px;
	height: 430px;
	display: none;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
#game_secondary_screen_backdrop {
	position: absolute;
	left: 190px;
	top: 45px;
	width: 620px;
	height: 430px;
	display: none;
	opacity: 0.7;
	filter: alpha(opacity=70);
	background-color: black;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.game_screen {
	display: none;
}

.maximize_screen {
	position:absolute;
	top:1px;
	right:1px;
}

#title_mini {
	width:30%;
	background-color:#999999;
	border: 1px solid #000000;
	padding:1px;
	font-weight:bold;
}

#content_mini {
	width:70%;
	background-color:#CCCCCC;
	border: 1px solid #000000;
	padding:1px;
}

#register {
	margin-left: auto;
	margin-right: auto;
	width: 8%;
}
#register .inputFields {
	text-align: left;
	padding: 5px;
}
#register .inputFields input[type="text"] {
	size: 15;
}
#register .inputFields input[type="password"] {
	size: 15;
}

.menu_title_mini {
	margin-bottom: 15px;
}

.button1 {
	border: 1px solid #3d8fe3;
	padding: 4px 10px;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
	font-size: 17px;
	vertical-align: middle;
	text-decoration: none;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(80,80,80,1)), color-stop(100%,rgba(30,30,30,1)));
	background: -moz-linear-gradient(top, rgba(80,80,80,1) 0%, rgba(30,30,30,1) 100%);
	background: -webkit-linear-gradient(top, rgba(80,80,80,1) 0%,rgba(30,30,30,1) 100%);
	background: -o-linear-gradient(top, rgba(80,80,80,1) 0%,rgba(30,30,30,1) 100%);
	background: -ms-linear-gradient(top, rgba(80,80,80,1) 0%,rgba(30,30,30,1) 100%);
	background: linear-gradient(to bottom, rgba(0,0,0,1) 0%,rgba(70,70,70,1) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#5b5b5b', endColorstr='#1e1e1e',GradientType=0 );
	cursor: pointer;
}
.button1:hover {
	background: #236db8;
	color: #ffffff;
}
.button1_div {
	padding: 5px 0px;
	margin: 3px 0px;
}

.popup_dialogue {
	display: none;
	position: absolute;
	top: 5px;
	left: 5px;
	width: 610px;
	height: 420px;
	z-index: 200;
	background-color: #202020;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}
.popup_title {
	background-color: #3670ab;
	color: white;
	padding: 7px 5px;
	font-size: 16px;
	border-top-left-radius: 6px;
	border-top-right-radius: 6px;
	-moz-border-radius: 6px;
	-webkit-border-top-left-radius: 6px;
	-webkit-border-top-right-radius: 6px;
	position: relative:
}
.popup_x {
	position: absolute;
	top: 1px;
	right: 9px;
}
.popup_content {
	padding: 10px 20px;
	text-align: left;
	overflow: auto;
}