.map_tile_div{
	position:relative;
	display:inline-block;
}

.map_tile_div_select_off{
	position:relative;
	opacity: 0.0;
	filter: alpha(opacity=0);
}

.map_tile_div_select_on{
	position:relative;
	opacity: 100.0;
	filter: alpha(opacity=100);
}

.sector_coords{
	position:absolute;
	top:5px;
	left:22px;
	color:#afafaf;
	font-size:10px;
}

#map_container_div{
	position:absolute;
	top: 0px;
	left: 0px;
}

#map_tile_selector_div{
	position: absolute;
	top: 0px;
	left: 0px;
}

#navigation_panel_div{
	position:absolute;
	/*top 40, left 460*/
	top:20px;
	left:460px;
	color:#afafaf;
	font-size:14px;
	width:114px;
}

#navigation_key{
	position:absolute;
	top:354px;
	left:440px;
}