#messaging_div_mini {
	position:absolute;
	top:148px;
	left:836px;
	height:295px;
	width:150px;
	color:#ffffff;
	overflow:auto;
}

#message_display_table_mini {
	position:absolute;
	top:30px;
	width:100%;
	border: none;
	background-color:#5a5a5a;
	color:#000000;
	font-size:11px;
	padding:0px;
}

.message_display_row {
	border: 1px solid #000000;
	padding:0px;
	width:100%;
}
	
.message_display_row_spacer {
	border: none;
	padding:0px;
	width:100%;
	height:4px;
	
}

.message_display_col{
	border: 1px solid #000000;
	padding:0px;
	text-align:left;
}


#messaging_menu {
	position:absolute;
	top:40px;
	left:40px;
	background-color:#FFFFFF;
	width:162px;
	height:24px;
}

.messaging_button {
	position:absolute;
	top:5px;
	color:#000000;
	font-weight:bold;
	font-size:10pt;
}

#inbox_button {
	position:absolute;
	left:20px;
}

#sent_button {
	position:absolute;
	left:80px;
}

#refresh_messages {
	position:absolute;
	left:138px;
}

#message_display_container {
	position:absolute;
	top:68px;
	left:40px;
	width:162px;
	height:310px;
	background-color:#ffffff;
	overflow:scroll;
}

.message_viewed {
	color:#000000;
	background-color:#999999;
	border:1px solid #ffffff;
	font-size:11px;
	margin:2px;
}

.message_unviewed{
	color:#000000;
	background-color:#DDDDDD;
	border:1px solid #000000;
	font-size:11px;
	margin:3px;	
}

.message_unviewed:hover{
	background-color:#ffffbb;
	border:1px solid #3d8fe3;
}

.message_viewed:hover{
	background-color:#ffffbb;
	border:1px solid #3d8fe3;
}

#message_viewer{
	position:absolute;
	top:40px;
	left:220px;
	width:350px;
	height:140px;
}

#message_viewer_subject{
	position:absolute;
	top:0px;
	left:0px;
	width:80px;
	height:120px;
	background-color:#ffffbb;
	color:#000000;
	font-size:10pt;
	font-weight:bold;
}

#message_viewer_from{
	position:absolute;
	top:130px;
	left:0px;
	width:80px;
	height:30px;
	background-color:#3d8fe3;
	color:#ffffff;
	font-size:10pt;
	font-weight:bold;
}

#message_viewer_message{
	position:absolute;
	top:0px;
	left:90px;
	width:255px;
	height:140px;
	background-color:#ffffff;
	color:#000000;
	padding:10px;
	text-indent:20px;
	font-size:10pt;
	text-align:left;
	overflow-y:scroll;
}

#message_composer{
	position:absolute;
	top:210px;
	left:220px;
	width:367px;
	height:168px;
	background-color:#999999;
}

#to_title{
	position:absolute;
	top:0px;
	left:8px;
	color:#ffffff;
	font-size:10pt;
	font-weight:bold;
}

#to_field{
	position:absolute;
	top:5px;
	left:125px;
	color:#000000;
	font-size:10pt;
	width:112px;
}

#subject_title{
	position:absolute;
	top:25px;
	left:8px;
	color:#ffffff;
	font-size:10pt;
	font-weight:bold;
}

#subject_field{
	position:absolute;
	top:31px;
	left:62px;
	color:#000000;
	font-size:10pt;
}

#message_field{
	position:absolute;
	top:60px;
	left:8px;
	height:100px;
	width:350px;
	overflow:scroll;
	resize:none;
}

#message_submit{
	position:absolute;
	top:5px;
	left:246;
	height:50px;
	width:112px;
}